<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Software Engineering</title>

			<div style="overflow-y:auto;height:40vh">
                <b>Software Engineering </b><br />
			Software engineers design and create computer systems and applications to solve real-world problems. ... If you're an analytical thinker who enjoys solving problems and making digital products easier to use, you may find a career as a software engineer rewarding. <br /> <br />

<b>Reference Links related to software engineering</b> <br />

                <a href="https://en.wikipedia.org/wiki/Software_engineering" target="_blank"> Software Engineering </a><br />
                <a href="https://slideplayer.com/slide/11309835/" target="_blank">Software Engineering: A Practitioner’s Approach, 7th edition</a><br />
<a href="https://en.wikipedia.org/wiki/Software_development" target="_blank"> Software Development </a><br />
                <a href="https://www.tutorialspoint.com/sdlc/sdlc_overview.htm" target="_blank"> SDLC </a><br />
                <a href="https://en.wikipedia.org/wiki/Software_development_process" target="_blank"> Software Development Process </a><br />
                <a href="https://kitelytech.com/six-basic-steps-software-development/#:~:text=These%20stages%20are%20planning%2C%20analysis,a%20predictable%20and%20manageable%20way." target="_blank"> Software Development Stages</a><br />



</div>
</head>
<body>

</body>
</html>